# Gradle
.gradle/
build/
local.properties

# Kotlin
.kotlin/

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Build outputs
*.apk
*.aab
output-metadata.json

# Python
__pycache__/
*.pyc

# Logs
*.log

# Keystore
*.jks
*.keystore

graphify-out/

